* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.slider {
  width: 80vw;
  min-height: 33vh;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 0px 35px 10px rgb(230, 230, 230);
}
